li {
  padding: 5px;
  margin: 5px;
  background: #e7caa3;
}



.form-group {
  margin-bottom: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:auto;
}
h3 {
  text-align: center;
}
body{
  background: #e7caa3;

}

